<app-collapse-box [collapse]="false" [boxTitle]="'学生信息筛选'">
  <div class="col-xs-12 col-md-4 input-group-sm">
    <label class="pull-left">
      姓名:
    </label>
    <div class="input-group input-group-sm" style="width: 148px;">
      <input class="form-control input-sm" [(ngModel)]="filterStudentName" placeholder="输入学生名称">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 input-group-sm">
    <label class="pull-left">
      电话号码:
    </label>
    <div class="input-group input-group-sm" style="width: 148px;">
      <input class="form-control input-sm" [(ngModel)]="filterStudentPhone" placeholder="输入学生电话号码">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
  </div>
</app-collapse-box>

<div class="box box-primary box-divide">
  <div class="box-header">
    <h3 class="box-title">
      {{ curSchoolName }}校区学员
    </h3>
    <div class="box-tools">
      <button class="btn btn-primary btn-xs" [routerLink]="['../../schools']">
        <i class="fa fa-list"></i>
        校区列表
      </button>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-hovered table-bordered text-center">
      <thead>
      <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>电话</th>
        <th>学科</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | matchItem: filterStudentName: 'name' | matchItem: filterStudentPhone: 'phone';">
        <td>{{ student.name }}</td>
        <td>{{ student.sex === 'MALE' ? '男': '女' }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.subject || '-' }}</td>
        <td>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-primary btn-xs" (click)="initPaymentEvent(student);
            payModal.showModal({
              title: '请填写缴费信息',
              confirm: pay
            })">
              <i class="fa fa-credit-card"></i>缴费
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td *ngIf="students.length === 0" colspan="5">
          <p class="text-muted">该校区下暂无学员信息</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal #payModal [disabledAcceptBtn]="!(payOrRefundEvent.employeeId && payOrRefundEvent.money)">
  <form class="form">
    <div class="form-group clearfix">
      <label for="payType" class="control-label col-xs-3">缴费类型:</label>
      <div class="col-xs-9">
        <select2 id="payType"
                 [cssImport]="false"
                 [width]="'100%'"
                 [data]="payTypeList"
                 (valueChanged)="switchPayType($event)"
                 [options]="{minimumResultsForSearch: -1}"></select2>
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="submitter" class="control-label col-xs-3">代缴人员</label>
      <div class="col-xs-9">
        <select2 [cssImport]="false"
                 [width]="'100%'"
                 id="submitter"
                 [value]="payOrRefundEvent.employeeId"
                 (valueChanged)="handlePayerSwitch($event)"
                 [data]="payer"
                 [options]="select2Options"
        ></select2>
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="payMoney" class="control-label col-xs-3">代缴金额</label>
      <div class="col-xs-9">
        <input type="number" class="form-control" id="payMoney" name="payMoney" [(ngModel)]="payOrRefundEvent.money" >
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="payRemark" class="control-label col-xs-3">缴费备注</label>
      <div class="col-xs-9">
        <textarea class="form-control" id="payRemark" name="payRemark" [(ngModel)]="payOrRefundEvent.remark" rows="2" placeholder="请输入缴费备注"></textarea>
      </div>
    </div>
  </form>
</app-modal>
