<header class="main-header">

  <a href="javascript:void(0)" class="logo">
    <span class="logo-mini"><b>Edu</b></span>
    <span class="logo-lg"><b>Edu</b>Admin</span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ user.name }}</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="signOut()">
            <span class="fa fa-sign-out"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
