<app-content-header
  [title]="'教学课表'" [menus]="contentHeader"></app-content-header>

<div class="content">
  <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'课表筛选'">
    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">课程名称:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage=1" [(ngModel)]="filterCourseName" placeholder="请输入课程名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">是否完成:</label>
      <div class="input-group input-group-sm">
        <select2 [options]="{minimumResultsForSearch: -1}"
                  [cssImport]="false"
                  [data]="[{id: 'ALL' ,text: '全部'}, {id: true ,text: '已结课'}, {id: false ,text: '未结课'}]"
                  (valueChanged)="switchCourseState($event)"></select2>
      </div>
    </div>
  </app-collapse-box>

  <div class="box box-primary box-divide">
    <div class="box-header">
      <div class="h3 box-title">
        课表信息
      </div>
    </div>
    <div class="box-body">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>课程名称</th>
            <th>开课时间</th>
            <th>结课时间</th>
            <th>是否完成</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules |
          matchItem: filterCourseName : 'courseName' |
          matchItem: filterCourseState: 'finish': 'exact' |
          paging: curPage ">
            <td>{{ schedule.courseName }}</td>
            <td>{{ schedule.startTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ schedule.endTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ schedule.finish ? '是' : '否' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-pagination [curPage]="curPage"
                    (changePage)="handlePageChange($event)"
                    [totalCount]="(schedules | matchItem: filterCourseName : 'courseName' | matchItem: filterCourseState: 'finish': 'exact' ).length"
                    *ngIf="schedules.length"></app-pagination>
</div>
