<section class="content-header">
  <h1>员工信息</h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i>基础信息管理</a></li>
    <li class="active"><a><i class="fa fa-book"></i>员工信息</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'员工过滤'">

        <div class="col-xs-12 col-md-4 input-group-sm">
          <label class="pull-left">
            时间过滤:
          </label>
          <app-date-ranger-picker class="pull-left"></app-date-ranger-picker>
        </div>

        <div class="col-xs-12 col-md-4 input-group-sm">
          <label class="pull-left">
            名称筛选:
          </label>
          <div class="input-group input-group-sm" style="width: 148px;">
            <input type="text" class="form-control input-sm" placeholder="输入员工名称">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 input-group-sm">
          <label class="pull-left">
            性别筛选:
          </label>
          <div class="input-group input-group-sm" style="width: 148px;">
            <select2 [cssImport]="false" [options]="{minimumResultsForSearch: -1}" [data]="[{id:'ALL',text:'全部'}].concat(syllabusTypes)" [width]="'148px'"></select2>
          </div>
        </div>

      </app-collapse-box>

      <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-table"></i><h3 class="box-title">员工列表</h3>
          <div class="box-tools">
            <div class="btn-group btn-group-sm pull-right syllabus-add-btn">
              <button (click)="modal.showModal({
                 title: '添加新员工',
                 confirm: newEmployee
            })" class="btn btn-info"><i class="fa fa-plus"></i>新增员工</button>
            </div>
          </div>
        </div>
        <div class="box-body" style="border-top: 1px solid #dddddd;">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered dataTable">
                  <thead>
                    <tr role="row">
                      <th>姓名</th>
                      <th>性别</th>
                      <th>电话</th>
                      <th>邮箱</th>
                      <th>生日</th>
                      <th>学校</th>
                      <th>专业</th>
                      <th class="text-center">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employee of employees">
                      <td colspan="8" class="box box-widget collapsed-box">
                        <div class="box-header">
                          <span>{{ employee.name }}</span>
                          <span>{{ employee.sex == 'MALE' ? '男' : '女' }}</span>
                          <span>{{ employee.phone }}</span>
                          <span>{{ employee.email }}</span>
                          <span>{{ employee.birthday | date: 'YYYY-MM-DD' }}</span>
                          <span>{{ employee.education }}</span>
                          <span>{{ employee.specialty }}</span>
                          <span class="text-center">
                            <button (click)="removeEmployee(employee.id)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i>删除</button>
                            <button data-widget="collapse" class="btn btn-xs btn-info"><i class="fa fa-plus"></i>更多</button>
                          </span>
                        </div>
                        <div class="box-body">
                          <div class="detail-container clearfix">

                            <div>
                              <div class="col-xs-2 text-right">身份证号码: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.idCard }}</div>
                            </div>
                            <div>
                              <div class="col-xs-2 text-right">毕业院校: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.graduationSchool }}</div>
                            </div>
                            <div>
                              <div class="col-xs-2 text-right">紧急联系人姓名: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.clamantName }}</div>
                            </div>
                            <div>
                              <div class="col-xs-2 text-right">紧急联系人电话: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.clamantPhone }}</div>
                            </div>
                            <div>
                              <div class="col-xs-2 text-right">家庭住址: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.address }}</div>
                            </div>
                            <div>
                              <div class="col-xs-2 text-right">描述信息: &nbsp;&nbsp;</div>
                              <div class="col-xs-8">{{ employee.remark }}</div>
                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 11 to 20 of 57
                  entries
                </div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers pull-right" id="example2_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0">Previous</a></li>
                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="1">1</a></li>
                    <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="2">2</a></li>
                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3">3</a></li>
                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4">4</a></li>
                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5">5</a></li>
                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6">6</a></li>
                    <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal #modal [modalSize]="'lg'">
  <form class="form-horizontal">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="form-group">
          <label for="name" class="control-label col-md-2">姓名: </label>
          <div class="col-md-10">
            <input id="name" name="name" placeholder="请输入员工姓名" class="form-control" [(ngModel)]="curEmployee.name">
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="control-label col-md-2">性别: </label>
          <div class="col-md-10">
            <select2
              id="gender"
              (valueChanged)="switchEmployeeGender($event)"
              [value]="curEmployee.sex"
              [cssImport]="false"
              [options]="{minimumResultsForSearch: -1, placeholder: '请输入员工性别'}"
              [data]="[{id:'',text: ''},{id:'MALE',text:'男'},{id:'FEMALE',text:'女'}]"
              [width]="'100%'"></select2>
          </div>
        </div>

        <div class="form-group">
          <label for="education" class="control-label col-md-2">学历: </label>
          <div class="col-md-10">
            <input type="text" id="education" name="education" placeholder="请输入员工学历" class="form-control" [(ngModel)]="curEmployee.education">
          </div>
        </div>

        <div class="form-group">
          <label for="phone" class="control-label col-md-2">电话: </label>
          <div class="col-md-10">
            <input id="phone" name="phone" placeholder="请输入员工电话" class="form-control" [(ngModel)]="curEmployee.phone">
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="control-label col-md-2">邮箱: </label>
          <div class="col-md-10">
            <input type="text" id="email" name="email" placeholder="请输入员工电话" class="form-control" [(ngModel)]="curEmployee.email">
          </div>
        </div>

        <div class="form-group">
          <label for="specialty" class="control-label col-md-2">专业: </label>
          <div class="col-md-10">
            <input type="text" id="specialty" name="specialty" placeholder="请输入员工电话" class="form-control" [(ngModel)]="curEmployee.specialty">
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-7">
        <div class="form-group">
          <label for="clamantName" class="control-label col-md-3">联系人姓名: </label>
          <div class="col-md-9">
            <input type="text" id="clamantName" name="clamantName" placeholder="请输入联系人姓名" class="form-control" [(ngModel)]="curEmployee.clamantName">
          </div>
        </div>

        <div class="form-group">
          <label for="clamantPhone" class="control-label col-md-3">联系人电话: </label>
          <div class="col-md-9">
            <input type="number" id="clamantPhone" name="clamantPhone" placeholder="请输入联系人电话" class="form-control" [(ngModel)]="curEmployee.phone">
          </div>
        </div>

        <div class="form-group">
          <label for="idCard" class="control-label col-md-3">身份证号: </label>
          <div class="col-md-9">
            <input id="idCard" name="idCard" placeholder="请输入身份证" class="form-control" [(ngModel)]="curEmployee.idCard">
          </div>
        </div>

        <div class="form-group">
          <label for="graduationSchool" class="control-label col-md-3">毕业院校: </label>
          <div class="col-md-9">
            <input id="graduationSchool" name="graduationSchool" placeholder="请输入毕业院校" class="form-control" [(ngModel)]="curEmployee.graduationSchool">
          </div>
        </div>

        <div class="form-group">
          <label for="address" class="control-label col-md-3">家庭住址: </label>
          <div class="col-md-9">
            <input id="address" name="address" placeholder="请输入家庭住址" class="form-control" [(ngModel)]="curEmployee.address">
          </div>
        </div>

        <div class="form-group">
          <label for="remark" class="control-label col-md-3">描述信息: </label>
          <div class="col-md-9">
            <textarea id="remark" name="remark" placeholder="请输入描述信息" class="form-control" cols="1" rows="1" [(ngModel)]="curEmployee.remark"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>
