<app-content-header
  [title]="'转校申请页'" [menus]="contentHeader"></app-content-header>

<div class="content">
  <div class="box box-primary box-divide">
    <div class="box-header">
      <h3 class="box-title">转校申请</h3>
      <div class="box-tools">
        <button class="btn btn-primary btn-sm" (click)="transferApplication.showModal({
          modalType: 'default',
          modalConfirmText: '确认发起转校申请',
          confirm: transfer
        })">
          发起转校申请
        </button>
      </div>
    </div>
    <div class="box-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>审核学生</th>
            <th>原始校区</th>
            <th>目标校区</th>
            <th>发起时间</th>
            <th>审核备注</th>
            <th>审核状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of appRecords | paging : curPage">
            <td>{{ record.studentName }}</td>
            <td>{{ record.fromSchoolName }}</td>
            <td>{{ record.toSchoolName }}</td>
            <td>{{ record.applicationTime | date:'yyyy-MM-dd' }}</td>
            <td>{{ record.remark }}</td>
            <td>
              <span class="label"
                    [class.label-danger]="record.applicationStatus === 'AUDIT_FAIL'"
                    [class.label-success]="record.applicationStatus === 'AUDIT_SUCCESS'"
                    [class.label-warning]="record.applicationStatus === 'AUDITING'">
                {{ auditState[record.applicationStatus] }}
              </span>
            </td>
          </tr>
          <tr *ngIf="!appRecords.length">
            <td colspan="6">
              <p class="text-muted text-center">暂无转校申请记录</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <app-pagination [curPage]="curPage"
                    *ngIf="appRecords.length"
                    (changePage)="handlePageChange($event)"
                    [totalCount]="appRecords.length"></app-pagination>
</div>


<app-modal #transferApplication [disabledAcceptBtn]="!transferEvent.studentId || !transferEvent.remark">
  <form  class="form center-block">

    <div class="row">
      <div class="form-group clearfix">
        <label class="control-label col-xs-3">转校学生</label>
        <div class="col-xs-9">
          <div class="input-group input-group-md">
            <select2 [cssImport]="false"
                     [width]="275"
                     [data]="students"
                     (valueChanged)="switchStudent($event)"
                     [options]="select2Options"></select2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group clearfix">
        <label class="control-label col-xs-3">转校校区</label>
        <div class="col-xs-9">
          <div class="input-group input-group-md">
            <select2 [cssImport]="false"
                     [width]="275"
                     [data]="schools"
                     (valueChanged)="switchSchool($event)"></select2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group clearfix">
        <label class="control-label col-xs-3" id="remark">备注信息</label>
        <div class="col-xs-9">
          <div class="input-group input-group-md">
                <textarea
                    style="width: 275px"
                    rows="2"
                    class="form-control"
                    name="remark"
                    placeholder="请输入备注信息"
                    [(ngModel)]="transferEvent.remark"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>

</app-modal>
