<app-content-header
  [title]="'员工列表管理'" [menus]="contentHeader"></app-content-header>
<div class="content">
  <app-collapse-box [collapse]="false" [boxTitle]="'员工过滤'"></app-collapse-box>

  <div class="box box-primary box-divide">
    <div class="box-header">
      <h3 class="box-title">员工列表</h3>
      <div class="box-tools">
        <button class="btn btn-sm btn-primary">
          <i class="fa fa-plus"></i>
          添加新员工
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-4 col-md-3" *ngFor="let employee of employees" [routerLink]="['./' + employee.id]">
          <div class="box box-widget widget-user">
            <div class="widget-user-header {{ employee.sex === 'MALE' ? 'bg-aqua-active' : 'bg-yellow' }}">
              <h3 class="widget-user-username">{{ employee.name }}</h3>
              <h5 class="widget-user-desc">
                <i class="fa fa-{{  employee.sex === 'FEMALE' ?'venus':'mars' }}"></i>
                {{employee.sex === 'MALE' ? '男' : '女'}}
              </h5>
            </div>
            <div class="widget-user-image">
              <img src="https://adminlte.io/themes/AdminLTE/dist/img/user{{ employee.sex === 'MALE' ? 1 : 3 }}-128x128.jpg" alt="" class="img-circle">
            </div>
            <div class="box-footer">
              <ul class="nav nav-stacked">
                <li><a href="javascript:void(0)">生日 <span class="pull-right">{{ employee.birthday | date: 'yyyy-MM-dd' }}</span></a></li>
                <li><a href="javascript:void(0)">邮箱 <span class="pull-right">{{ employee.email }}</span></a></li>
                <li><a href="javascript:void(0)">电话 <span class="pull-right">{{ employee.phone }}</span></a></li>
                <li><a href="javascript:void(0)">专业 <span class="pull-right">{{ employee.specialty }}</span></a></li>
                <li>
                  <a href="javascript:void(0)">
                    学历
                    <span class="pull-right">{{ employee.education }}
                        <span *ngIf="employee.orignSchool"> '(' {{ employee.orignSchool }} ')'</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
