<app-content-header
  [title]="'课程列表'" [menus]="contentHeader"></app-content-header>
<div class="content">

  <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'课表过滤'">
    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">教师姓名:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage = 1;" [(ngModel)]="filterTeacherName" placeholder="请输入教师名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">课程名称:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage = 1;" [(ngModel)]="filterCourseName" placeholder="请输入课程名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">完成状态:</label>
      <div class="input-group input-group-sm">
        <select2
          [value]="filterScheduleState"
          [cssImport]="false"
          (valueChanged)="changeFilterScheduleState($event)"
          [options]="{minimumResultsForSearch: -1, placeholder: '全部'}"
          [data]="[{id: 'ALL',text: '全部'}, {id: true, text: '是'}, {id: false, text: '否'}]"></select2>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">上课时间:</label>
      <app-date-ranger-picker
        [timePicker]="false"
        [format]="'YYYY-MM-DD'"
        [startTime]="filterTimeRange.start"
        (dateRangeSetEvent)="handleTimeRangeChange($event)">
      </app-date-ranger-picker>
    </div>
  </app-collapse-box>

  <div class="box box-primary">
    <div class="box-header">
      <i class="fa fa-table"></i><h3 class="box-title">课表</h3>
      <div class="box-tools">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-primary" (click)="resetStudents();courseCreator.showModal({
              title: '创建新课表',
              modalSize: 'lg',
              confirmBtnText: '确认分配',
              cancelBtnText: '取消分配',
              confirm: createSchedule
          })">
            <i class="fa fa-plus"></i>
            创建课表
          </button>
        </div>
      </div>
    </div>
    <div class="box-body" style="border-top: 1px solid #dddddd;">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-hover text-center">
              <thead>
                <tr>
                  <th>课程名称</th>
                  <th>执行教师</th>
                  <th>开始时间</th>
                  <th>结束时间</th>
                  <th>是否完成</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of schedule |
                matchItem: filterTeacherName: 'teacherName' |
                matchItem: filterCourseName: 'courseName' |
                matchItem: filterScheduleState: 'finish' : 'exact' |
                timeRange: filterTimeRange : 'startTime'|
                timeRange: filterTimeRange : 'endTime' | paging: curPage;
                let i = index" (click)="scheduleEvent = course;courseCreator.showModal({
                modalSize: 'lg',
                  title: '编辑课表',
                  confirm: updateSchedule
                })">
                  <td>{{ course.courseName }}</td>
                  <td>{{ course.teacherName }}</td>
                  <td>{{ course.startTime | date: 'yyyy-MM-dd HH:mm' }}</td>
                  <td>{{ course.endTime | date: 'yyyy-MM-dd HH:mm' }}</td>
                  <td>{{ course.finish ? '是': '否' }}</td>
                </tr>
                <tr>
                  <td *ngIf="!schedule.length" colspan="5" class="text-muted">
                    暂无课表记录
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination (changePage)="handlePageChange($event)" [curPage]="curPage" [totalCount]="(schedule |
                matchItem: filterTeacherName: 'teacherName' |
                matchItem: filterCourseName: 'courseName' |
                matchItem: filterScheduleState: 'finish' : 'exact' |
                timeRange: filterTimeRange : 'startTime'|
                timeRange: filterTimeRange : 'endTime').length"></app-pagination>
</div>

<app-modal #courseCreator [disabledAcceptBtn]="ifZeroStuChosen() || !scheduleEvent.studyTime">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <div class="form-group form-group-sm">
          <label for="schedule" class="control-label">选择课程: </label>
          <select2
            id="schedule"
            [cssImport]="false"
            [data]="courses"
            [width]="150"
            [options]="{minimumResultsForSearch: 3}"
            (valueChanged)="handleCourseSwitch($event)"></select2>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group form-group-sm">
          <label for="teacher" class="control-label">选择老师: </label>
          <select2
            id="teacher"
            [cssImport]="false"
            [data]="teachers"
            [width]="150"
            (valueChanged)="handleTeacherSwitch($event)"
            [options]="{minimumResultsForSearch: 3}"
          ></select2>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group clearfix">
          <label for="studyHour" class="control-label pull-left">课程课时:</label>
          <div class="pull-left">
            <div class="input-group input-group-sm">
              <input class="form-control"
                     type="number"
                     min="0"
                     name="studyHour"
                     id="studyHour"
                     [(ngModel)]="scheduleEvent.studyTime">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="form-group clearfix">
          <label for="scheduleTime" class="control-label pull-left">上课时间: </label>
          <app-date-ranger-picker
            id="scheduleTime"
            class="pull-left"
            [format]="'YYYY-MM-DD:HH:mm'"
            [timePicker]="true"
            (dateRangeSetEvent)="setScheduleTime($event)"
          ></app-date-ranger-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 table-container">
      <table class="table table-bordered table-hover text-center">
        <thead>
        <tr>
          <th></th>
          <th>姓名</th>
          <th>性别</th>
          <th>电话</th>
          <th>地址</th>
          <th>学校</th>
          <th>专业</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td class="text-center">
              <input type="checkbox" [checked]="student.selected" (change)="student.selected = !student.selected">
            </td>
            <td>{{ student.name }}</td>
            <td>{{ student.sex === 'MALE' ? '男': '女' }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.address || '--' }}</td>
            <td>{{ student.orignSchool || '--' }}</td>
            <td>{{ student.specialty || '--' }}</td>
          </tr>
          <tr *ngIf="!students.length">
            <td class="text-center" colspan="7">暂无报名该课程的学生</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-modal>
