@import '../../assets/less/variable';
.login-page{
  height: e("calc(100vh - 30px)");
  background-color: @dark-brown;
  display: flex;
  align-items: center;
  .login-panel{
    padding: 30px;
    background-color: @dark-gray;
    fieldset h3{
      color: @white;
    }
  }
}
