@import '../../assets/less/variable';
.login-page{
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("/assets/image/background.jpg");
  background-position: center;
  background-size: cover;
  .input-group{
    margin-bottom: 20px;
  }
  .login-logo{
    color: #ffffff;
  }
}
