<app-content-header
  [title]="'学生课时管理'" [menus]="contentHeader"></app-content-header>

<div class="content">

  <app-collapse-box [collapse]="false" [boxTitle]="'学生课时列表筛选'">
    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">学生姓名:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage = 1;" [(ngModel)]="filterStudentName" placeholder="请输入学生名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">购买时间:</label>
      <app-date-ranger-picker
        [timePicker]="false"
        [startTime]="buyTimeRange.start"
        (dateRangeSetEvent)="handleTimeRangeChange($event)">
      </app-date-ranger-picker>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">课程名称:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage = 1;" [(ngModel)]="filterCourseName" placeholder="请输入课程名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>
  </app-collapse-box>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">
            学生课时列表
          </h3>
        </div>
        <div class="box-body" style="border-top: 1px solid #ecf0f5;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr>
                <th>学生姓名</th>
                <th>课程名称</th>
                <th>总课时</th>
                <th>已用课时</th>
                <th>成绩</th>
                <th>购买时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of stuCourseHourStats |
                matchItem: filterStudentName:'studentName' |
                matchItem: filterCourseName: 'courseName' |
                timeRange: buyTimeRange : 'buyTime' | paging: curPage">
                <td>{{ stat.studentName }}</td>
                <td>{{ stat.courseName }}</td>
                <td>{{ stat.buyHour }}</td>
                <td>{{ stat.usedHour }}</td>
                <td>{{ stat.score || '未录入' }}</td>
                <td>{{ stat.buyTime | date: 'yyyy-MM-dd: HH:mm:ss' }}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <button class="btn btn-success btn-xs"
                    (click)="curStatScore = stat.score;
                    curStat = stat;
                    markInputModal.showModal({
                      title: '请输入' + curStat.studentName + '学生成绩',
                      confirm: updateStuScore
                    })">
                      录入成绩
                    </button>
                    <button class="btn btn-warning btn-xs"
                    (click)="curStat = stat;
                    cancelPurchaseHour = 0;
                    returnCoursePurchaseModal.showModal({
                      title: '退购课时',
                      type: 'default',
                      modalConfirmText: '确定退购',
                      confirm: cancelCoursePurchase
                    })">
                      退课申请
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-pagination (changePage)="handlePageChange($event)" [totalCount]="(stuCourseHourStats |
                matchItem: filterStudentName:'studentName' |
                matchItem: filterCourseName: 'courseName' |
                timeRange: buyTimeRange : 'buyTime').length"></app-pagination>
</div>

<app-modal #markInputModal>
  <div class="form-group clearfix" style="margin-bottom: 0;">
    <label for="mark" class="control-label col-xs-2 col-xs-offset-2" style="margin-bottom: 0;">成绩:</label>
    <div class="col-xs-5">
      <div class="input-group input-group-sm">
        <input type="number" min="0" class="form-control" name="mark" id="mark" [(ngModel)]="curStatScore">
        <span class="input-group-addon">分</span>
      </div>
    </div>
  </div>
</app-modal>

<app-modal #returnCoursePurchaseModal>
  <div class="col-xs-12 purchase-info">
    <p class="text-muted">已购课时{{ curStat.buyHour }}</p>
    <p class="text-muted">已用课时{{ curStat.usedHour }}</p>
    <p class="text-muted">可退课时{{ curStat.buyHour - curStat.usedHour }}</p>
  </div>
  <div class="form-group form-group-sm clearfix">
    <label for="cancelHour" class="control-label col-xs-3">退选课时数:</label>
    <div class="col-xs-9">
      <input id="cancelHour"
             class="form-control"
             type="number"
             placeholder="请输入要退课的课时数"
             [(ngModel)]="cancelPurchaseHour"
             min="0"
             max="{{ curStat.buyHour - curStat.usedHour }}">
    </div>
  </div>
</app-modal>
