<app-content-header [title]="'咨询师签约列表'" [menus]="contentHeader"></app-content-header>

<div class="content">
  <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'签约列表过滤'">
    <div class="col-xs-12 col-md-4 input-group-sm">
      <label class="pull-left">
        姓名筛选:
      </label>
      <div class="input-group input-group-sm" style="width: 148px;">
        <input class="form-control input-sm" placeholder="输入咨学生姓名" [(ngModel)]="filterStuName">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </app-collapse-box>

  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">
        学生资产列表
      </h3>
    </div>
    <div class="box-body" style="border-top: 1px solid #ecf0f5;">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-bordered table-hover dataTable">
              <thead>
              <tr role="row">
                <th>姓名</th>
                <th>电话</th>
                <th>性别</th>
                <th>身份证</th>
                <th>缴费总额</th>
                <th>使用金额</th>
                <th>退费金额</th>
                <th>总课时</th>
                <th>使用课时</th>
                <th class="text-center">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let asset of allStuAsset | matchItem: filterStuName : 'name'">
                <td>{{ asset.name }}</td>
                <td>{{ asset.phone }}</td>
                <td>{{ asset.sex === 'MALE' ? '男': '女' }}</td>
                <td>{{ asset.idCard }}</td>
                <td>{{ asset.hasPay }}</td>
                <td>{{ asset.hasUsed }}</td>
                <td>{{ asset.hasBack }}</td>
                <td>{{ asset.totalHour }}</td>
                <td>{{ asset.usedHour }}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <button *ngIf="asset.hasPay > (asset.hasUsed + asset.hasBack)"
                      (click)="chosenCourse=[];
                      setCurStuAsset(asset);
                      buyCourseModal.showModal({
                        modalSize: 'lg',
                        title: '购买课程',
                        modalConfirmText: '确认购买',
                        confirm: buyCourses
                      })"
                      class="btn btn-xs btn-success">
                      <i class="fa fa-shopping-cart"></i> 购买课程
                    </button>
                    <span class="text-danger" *ngIf="asset.hasPay <= (asset.hasUsed + asset.hasBack)">
                      <i class="fa fa-exclamation-triangle"></i>
                      余额不足
                    </span>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!allStuAsset.length">
                <td colspan="10" class="text-center">暂无学生资产信息</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #buyCourseModal class="buyModal" [disabledAcceptBtn]="!chosenCourse.length" [closeAfterConfirmClicked]="false">
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <caption>购课学生</caption>
      </table>
    </div>
    <div class="col-xs-12 counselor-info text-center">
      <dl>
        <dt class="pull-left">学生姓名: </dt>
        <dd class="pull-left">{{ curStuAsset.name }}</dd>
      </dl>
      <dl class="id-card">
        <dt class="pull-left">身份证号: </dt>
        <dd class="pull-left">{{ curStuAsset.idCard }}</dd>
      </dl>
      <dl>
        <dt class="pull-left">总共缴费: </dt>
        <dd class="pull-left">{{ curStuAsset.hasPay }}</dd>
      </dl>
      <dl>
        <dt class="pull-left">已经使用: </dt>
        <dd class="pull-left">{{ curStuAsset.hasUsed }}</dd>
      </dl>
      <dl>
        <dt class="pull-left">退费: </dt>
        <dd class="pull-left">{{ curStuAsset.hasBack }}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 input-group-sm filter">
      <table class="table">
        <caption>课程列表</caption>
      </table>
      <div class="filter-wrap clearfix">
        <h4>课程搜索</h4>
        <div class="input-group input-group-sm pull-left" style="width: 148px;">
          <input class="form-control input-sm" placeholder="搜索课程名称" name="filterCourseName" [(ngModel)]="filterCourseName">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>

        <div class="input-group input-group-sm pull-left" style="width: 148px;">
          <input class="form-control input-sm" placeholder="搜索班组" name="filterGrade" [(ngModel)]="filterGrade">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>

        <div class="input-group input-group-sm pull-left" style="width: 148px;">
          <select2 [cssImport]="false"
           [options]="{minimumResultsForSearch: -1, placeholder: '全部课程类型'}"
           [data]="[{id:'ALL',text:'全部课程类型'}].concat(courseTypeList)"
           [width]="'148px'"
           [value]="filterCourseType"
           (valueChanged)="switchCourseType($event)"
           ></select2>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>课程名称</th>
            <th>所属班组</th>
            <th>课程类型</th>
            <th>单价</th>
            <th>总课时</th>
            <th>学生人数</th>
            <th>选择人数</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses | matchItem: filterCourseName: 'name' | matchItem: filterCourseType: 'type' | matchItem: filterGrade : 'gradeName';">
            <td>{{ course.name }}</td>
            <td>{{ course.gradeId }}</td>
            <td>{{ courseTypeMap[course.type] }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.studyHour || 0 }}</td>
            <td>{{ course.studentNum }}</td>
            <td class="text-center">{{ course.selectedNum }}</td>
            <td class="text-center">
              <div class="btn-group btn-group-xs">
                <button  class="btn btn-success btn-xs" (click)="curChosenCourse.buyHour = 0;setCurChosenCourse(course);
                courseHourSetter.showModal({
                    modalSize: 'sm',
                    title: '请选择购买课时',
                    modalConfirmText: '确认',
                    confirm: addChosenCourse
                })">
                  <i class="fa fa-hand-o-right"></i>购买课程
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="!(courses | matchItem: filterCourseName: 'name' | matchItem: filterCourseType: 'type' | matchItem: filterGrade : 'gradeName').length;">
            <td colspan="8">
              <p class="text-center text-info">无相应课程信息</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered chosen-course-header">
        <caption>
          已选课程
        </caption>
        <thead>
          <tr>
            <th>课程名称</th>
            <th>所属班组</th>
            <th>课程类型</th>
            <th>购买课时</th>
            <th>总价</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
      </table>
      <div class="chosen-course-table" style="width: calc( 100% + 6px );">
        <table class="table table-bordered chosen-course-body">
          <tbody>
            <tr *ngFor="let course of chosenCourse">
              <td>{{ course.name }}</td>
              <td>{{ course.grade }}</td>
              <td>{{ courseTypeMap[course.type] }}</td>
              <td>{{ course.buyHour }}</td>
              <td>{{ course.buyHour * course.price }}</td>
              <td class="text-center">
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-xs btn-danger" (click)="rmChosenCourse(course);">
                    <i class="fa fa-trash"></i>删除课程
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="!chosenCourse.length">
              <td colspan="6">
                <p class="text-info text-center">请选择要购买的课程吧</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-modal>

<app-modal #courseHourSetter class="courseHourSetter clearfix" [disabledAcceptBtn]="!curChosenCourse.buyHour">
  <form action="" class="form-inline text-center">
    <div class="form-group">
      <label for="name" class="control-label">课程名称:</label>
      <input id="name" class="input-sm form-control" [value]="curChosenCourse.name" readonly>
    </div>
    <div class="form-group">
      <label for="gradeName" class="control-label">年级:</label>
      <input id="gradeName" class="input-sm form-control" [value]="curChosenCourse.graderName || '-'" readonly>
    </div>
    <div class="form-group">
      <label for="studyHour" class="control-label">总课时:</label>
      <input id="studyHour" class="input-sm form-control" [value]="curChosenCourse.studyHour || 0" readonly>
    </div>
    <div class="form-group">
      <label for="price" class="control-label">单价:</label>
      <input id="price" class="input-sm form-control" [value]="curChosenCourse.price" readonly>
    </div>
    <div class="form-group">
      <label for="" class="control-label">购买课时:</label>
      <input min="1" max="{{ curChosenCourse.studyHour || 20 }}" type="number" class="input-sm form-control" name="studyHour" [(ngModel)]="curChosenCourse.buyHour">
    </div>
  </form>
</app-modal>
