app-modal.bugModal{
  .counselor-info{
    display: flex;
    dl{
      flex: 1;
      margin-bottom: 0;
      background: #ecf0f5;
      padding: 5px;
      border: 1px solid #b8c7ce;
      display: flex;
      justify-content: center;
      //&:first-of-type{
      //  border-top-left-radius: 3px;
      //}
      //&:last-of-type{
      //  border-top-right-radius: 3px;
      //}
      &.id-card{
        flex: 2;
      }
    }
    dl:not(:last-of-type){
      border-right: none;
    }
  }

  .filter{
    .filter-wrap{
      border: 1px solid #b8c7ce;
      padding: 5px 8px;
      background: #ecf0f5;
    }
    h4{
      line-height: 30px;
      margin: 0 20px 0 0;
      float: left;
      font-weight: 600;
    }
    .input-group{
      margin-right: 12px;
    }
  }

  .table{
    border-color: #b8c7ce;
    border-top: 0;
    background: lighten(#ecf0f5, 5%);
    margin-bottom: 0;
    thead, tbody{
      td,th{
        border-color: #b8c7ce;
        padding: 3px 6px;
      }
    }
    &.chosen-course-header{
      background: #ecf0f5;
      thead th{
        width: e("calc(100% / 6)");
        border-bottom: 0;
        border-top: 1px solid #b8c7ce;
      }
    }
    &.chosen-course-body{
      tbody td{
        width: e("calc( 100% / 6 )");
      }
    }
  }

  .chosen-course-table{
    max-height: 60px;
    overflow-y: scroll;
  }
}

app-modal.courseHourSetter{
  form{
    .form-group{
      margin-bottom: 10px;
      label{
        margin-right: 1em;
        min-width: 5em;
      }
      input{
        width: 140px;
      }
    }
  }
}
