<div class="main-sidebar">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <li class="treeview active">
        <a href="javascript:void(0)">
          <i class="fa fa-inbox"></i>
          <i class="fa fa-angle-left pull-right"></i>
          <span>基础信息管理</span>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <a href="javascript:void(0)">
              <span class="fa fa-book"></span>
              课程信息
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="fa fa-users"></span>
              员工信息
              </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="fa fa-graduation-cap"></span>
              学生信息
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="fa fa-user-circle-o"></span>
              用户信息
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="fa fa-user"></span>
              角色信息
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="fa fa-building"></span>
              校区信息
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-file-text"></i>
          <i class="fa fa-angle-left pull-right"></i>
          <span>流程审核管理</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-credit-card"></i>
              退费审核
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-exchange"></i>
              转校审核
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-circle-o"></i>
          <span>权限管理</span>
        </a>
      </li>
    </ul>
  </div>
</div>
