<div class="row">
  <div class="col-sm-12 text-center">
    <ul class="pagination">
      <li class="paginate_button previous" [class.disabled]="curPage === 1" (click)="prev()"><a href="javascript:void(0)">上一页</a></li>
      <li class="paginate_button" *ngFor="let page of pages;" [class.active]="curPage === page" (click)="changePageEvent(page)">
        <a href="javascript:void(0)" (click)="page">{{ page }}</a>
      </li>
      <li class="paginate_button next" [class.disabled]="curPage === pages.length" (click)="next()"><a href="javascript:void(0)">下一页</a></li>
    </ul>
  </div>
</div>
