<app-content-header
  [title]="'学生成绩'" [menus]="contentHeader"></app-content-header>

<div class="content">
  <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'学生成绩筛选'">
    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">课程名称:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage=1" [(ngModel)]="filterCourseName" placeholder="请输入课程名称">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">学生姓名:</label>
      <div class="input-group input-group-sm">
        <input class="form-control" (keypress)="curPage=1" [(ngModel)]="filterStuName" placeholder="请输入学生姓名">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
      </div>
    </div>
  </app-collapse-box>

  <div class="box box-primary box-divide">
    <div class="box-header">
      <div class="h3 box-title">
        教学记录列表
      </div>
    </div>
    <div class="box-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th>课程名称</th>
          <th>课程年级</th>
          <th>总课时</th>
          <th>购买课时</th>
          <th>已用课时</th>
          <th>学生名称</th>
          <th>成绩</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of scores | matchItem: filterCourseName : 'courseName' | matchItem: filterStuName : 'studentName' | paging: curPage">
          <td>{{ score.courseName }}</td>
          <td>{{ score.gradeName }}</td>
          <td>{{ score.studyHour }}</td>
          <td>{{ score.buyHour }}</td>
          <td>{{ score.hasUsed }}</td>
          <td>{{ score.studentName }}</td>
          <td>{{ score.score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-pagination [curPage]="curPage"
                  (changePage)="handlePageChange($event)"
                  [totalCount]="(scores | matchItem: filterCourseName : 'courseName' | matchItem: filterStuName : 'studentName').length"
                  *ngIf="scores.length"></app-pagination>
</div>
