<app-content-header
  [title]="'退费申请审批'" [menus]="contentHeader"></app-content-header>

<div class="content">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active" (click)="fetchAuditPendingRecord()"><a href="#waitAudit" data-toggle="tab">待审批退费</a></li>
      <li class="" (click)="fetchAuditSuccessRecords()"><a href="#auditSuccess" data-toggle="tab">已通过退费</a></li>
      <li class="" (click)="fetchAuditFailedRecords()"><a href="#auditFail" data-toggle="tab">已拒绝退费</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="waitAudit">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>申请时间</th>
            <th>退款金额</th>
            <th>所在学校</th>
            <th>学生姓名</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of auditPendingRecords;">
            <td>{{ record.applicationTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{ record.returnAmount || 0}}</td>
            <td>{{ record.schoolName}}</td>
            <td>{{ record.studentName}}</td>
            <td>{{ record.applicationRemark || '--'}}</td>
            <td>
              <div class="button-group button-group-xs">
                <button class="btn btn-xs btn-primary" (click)="approve='AUDIT_SUCCESS';
                  approveRemark = '';
                  curAudit = record;
                  auditModal.showModal({
                    modalSize: 'sm',
                    title: '是否通过审核?',
                    confirm: checkBackApplication
                  })">审核</button>
              </div>
            </td>
          </tr>
          <tr *ngIf="!auditPendingRecords.length">
            <td colspan="7">
              <p class="text-center text-muted">暂时无审批项信息</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="auditSuccess">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>申请时间</th>
            <th>退款金额</th>
            <th>所在学校</th>
            <th>学生姓名</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of auditSuccessRecords;">
            <td>{{ record.applicationTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{ record.returnAmount || 0}}</td>
            <td>{{ record.schoolName}}</td>
            <td>{{ record.studentName}}</td>
            <td>{{ record.applicationRemark || '--'}}</td>
          </tr>
          <tr *ngIf="!auditSuccessRecords.length">
            <td colspan="6">
              <p class="text-center text-muted">暂时无审批项信息</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="auditFail">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>申请时间</th>
            <th>退款金额</th>
            <th>所在学校</th>
            <th>学生姓名</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of auditFailedRecords;">
            <td>{{ record.applicationTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{ record.returnAmount || 0}}</td>
            <td>{{ record.schoolName}}</td>
            <td>{{ record.studentName}}</td>
            <td>{{ record.applicationRemark || '--'}}</td>
          </tr>
          <tr *ngIf="!auditFailedRecords.length">
            <td colspan="6">
              <p class="text-center text-muted">暂时无审批项信息</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal #auditModal>
  <form class="form text-center clearfix">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="approve" (change)="approve = 'AUDIT_SUCCESS'" [checked]="approve === 'AUDIT_SUCCESS'">
        通过该退费申请
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="reject" value="option1" (change)="approve = 'AUDIT_FAIL'" [checked]="approve === 'AUDIT_FAIL'">
        拒绝该退费申请
      </label>
    </div>

    <div class="form-group form-group-sm col-xs-6 col-xs-offset-3">
      <div>
        <textarea name="remark" id="remark" class="form-control" rows="2" placeholder="请填写审核备注" [(ngModel)]="approveRemark"></textarea>
      </div>
    </div>
  </form>
</app-modal>
