<app-content-header
  [title]="'退费审核管理'" [menus]="contentHeader"></app-content-header>

<div class="content">

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active" (click)="fetchBackRecord()"><a href="#waitAudit" data-toggle="tab" aria-expanded="true">待审批退费</a></li>
      <li class="" (click)="fetchAuditApprovedRecord()"><a href="#auditSuccess" data-toggle="tab" aria-expanded="false">已通过退费</a></li>
      <li class="" (click)="fetchAuditRejectRecord()"><a href="#auditFail" data-toggle="tab" aria-expanded="false">已拒绝退费</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="waitAudit">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>退费金额</th>
            <th>所属校区</th>
            <th>退费学生姓名</th>
            <th>退费金额</th>
            <th>退费说明</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of auditingList;">
            <td>{{ record.returnAmount }}</td>
            <td>{{ record.schoolName }}</td>
            <td>{{ record.studentName }}</td>
            <td>{{ record.returnAmount }}</td>
            <td>{{ record.applicationRemark }}</td>
            <td>
              <div class="button-group button-group-xs">
                <button class="btn btn-xs btn-primary" (click)="approve='AUDIT_SUCCESS';
                approveRemark = '';
                curAudit = record;
                auditModal.showModal({
                  modalSize: 'sm',
                  title: '是否通过审核?',
                  confirm: checkBackApplication
                })">审核</button>
              </div>
            </td>
          </tr>
          <tr *ngIf="!auditingList.length">
            <td colspan="6">
              <p class="text-center text-muted">暂时无审批项信息</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="auditSuccess">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>退费金额</th>
              <th>所属校区</th>
              <th>退费学生姓名</th>
              <th>退费金额</th>
              <th>退费说明</th>
              <th>审批时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of auditApprovedList;">
              <td>{{ record.returnAmount }}</td>
              <td>{{ record.schoolName }}</td>
              <td>{{ record.studentName }}</td>
              <td>{{ record.returnAmount }}</td>
              <td>{{ record.applicationRemark }}</td>
              <td>{{record.handlerTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr *ngIf="!auditApprovedList.length">
              <td colspan="6">
                <p class="text-center text-muted">暂时无审批项信息</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="auditFail">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>退费金额</th>
            <th>所属校区</th>
            <th>退费学生姓名</th>
            <th>退费金额</th>
            <th>退费说明</th>
            <th>审批时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of auditRejectedList;">
            <td>{{ record.returnAmount }}</td>
            <td>{{ record.schoolName }}</td>
            <td>{{ record.studentName }}</td>
            <td>{{ record.returnAmount }}</td>
            <td>{{ record.applicationRemark }}</td>
            <td>{{record.handlerTime | date: 'yyyy-MM-dd'}}</td>
          </tr>
          <tr *ngIf="!auditRejectedList.length">
            <td colspan="6">
              <p class="text-center text-muted">暂时无审批项信息</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal #auditModal>
  <form class="form text-center clearfix">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="approve" (change)="approve = 'AUDIT_SUCCESS'" [checked]="approve === 'AUDIT_SUCCESS'">
        通过该退费申请
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="reject" value="option1" (change)="approve = 'AUDIT_FAIL'" [checked]="approve === 'AUDIT_FAIL'">
        拒绝该退费申请
      </label>
    </div>

    <div class="form-group form-group-sm col-xs-6 col-xs-offset-3">
      <div>
        <textarea name="remark" id="remark" class="form-control" rows="2" placeholder="请填写审核备注" [(ngModel)]="approveRemark"></textarea>
      </div>
    </div>
  </form>
</app-modal>
