<div class="modal fade" [class.in]="animated" [style.display]="show?'block':'none'">
  <div class="modal-dialog modal-{{modalSize}} modal-{{modalType}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" [hidden]="!closeBtn">
          <span (click)="hideModal()">×</span></button>
        <h4 class="modal-title">{{ title || '提示' }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ content }}</p>
        <ng-content *ngIf="!content"></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn {{modalType == 'default'?'btn-default':'btn-outline'}}" (click)="hideModal()" [style.display]="cancelBtn?'inline-block':'none'">{{ modalCancelText }}</button>
        <button type="button" class="btn {{modalType == 'default'?'btn-primary':'btn-outline'}} pull-right" (click)="confirm();hideModal()">{{ modalConfirmText }}</button>
      </div>
    </div>
  </div>
</div>
<script>

</script>
