<app-content-header
  [title]="'学生列表'" [menus]="contentHeader"></app-content-header>
<div class="content">

  <app-collapse-box [collapse]="false" [icon]="'filter'" [boxTitle]="'学生过滤'">
    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">
        姓名筛选:
      </label>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control input-sm" placeholder="输入学生姓名" (keypress)="curPage = 1;" [(ngModel)]="filterStuName">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">
        性别筛选:
      </label>
      <div class="input-group input-group-sm">
        <select2 [cssImport]="false"
                 [options]="{minimumResultsForSearch: -1}"
                 [data]="genders"
                 (valueChanged)="switchFilterGender($event)"
                 [width]="'148px'"></select2>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 input-group-sm">
      <label class="pull-left">
        电话筛选:
      </label>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control input-sm" placeholder="输入电话号码" (keypress)="curPage = 1;" [(ngModel)]="filterPhone">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </app-collapse-box>

  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">学生列表</h3>
      <div class="box-tools">
        <div class="btn-group btn-group-sm">
          <input type="file" ng2FileSelect [uploader]="fileUploader" />
          <button class="btn btn-success">
            <i class="fa fa-upload"></i>
            导入学生
          </button>
          <button class="btn btn-primary"
            (click)="form.reset();resetCurStudent();
              studentModal.showModal({
                modalSize: 'lg',
                title: '添加学生',
                confirm: addStudent
            })">
            <i class="fa fa-plus"> 添加学生</i>
          </button>
        </div>
      </div>
    </div>
    <div class="box-body" style="border-top: 1px solid #dddddd;">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-bordered table-hover text-center">
              <thead>
                <tr role="row">
                  <th>姓名</th>
                  <th>性别</th>
                  <th>电话号码</th>
                  <th>年级</th>
                  <th>就读学校</th>
                  <th>学科</th>
                  <th>备注</th>
                  <th class="text-center">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of unAllocatedStudents |
                  matchItem: filterStuName: 'name' |
                  matchItem: filterGender: 'sex' : 'exact'  |
                  matchItem: filterPhone: 'phone' | paging: curPage"
                  (click)="resetCurStudent(student.id);
                  studentModal.showModal({
                    modalSize: 'lg',
                    title: '编辑学生',
                    confirm: updateStuInfo
                   })">
                  <td>{{ student.name }}</td>
                  <td>{{ student.sex === 'MALE' ? '男' : '女' }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.grade || '-' }}</td>
                  <td>{{ student.orignSchool || '-' }}</td>
                  <td>{{ student.subject || '-' }}</td>
                  <td>{{ student.remark || '-' }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-xs">
                      <button class="btn btn-xs btn-danger" (click)="$event.stopPropagation();
                      resetCurStudent(student.id);
                      confirmDelete.showModal({
                        title: '提示',
                        modalType: 'danger',
                        content: '确认删除该学生?',
                        hasCancelBtn: true,
                        confirm: removeStu
                      });">
                        <i class="fa fa-trash"></i>
                        删除学生
                      </button>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!unAllocatedStudents.length">
                  <td colspan="8" class="text-center">暂无学生信息</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination (changePage)="handlePageChange($event)"
                     [curPage]="curPage"
                     [totalCount]="(unAllocatedStudents |
                  matchItem: filterStuName: 'name' |
                  matchItem: filterGender: 'sex' : 'exact'  |
                  matchItem: filterPhone: 'phone').length"></app-pagination>
</div>

<app-modal #studentModal [disabledAcceptBtn]=!stuForm.form.valid>
  <form class="form clearfix" autocomplete="off" #stuForm="ngForm" #form="ngForm">
    <div class="col-xs-12">
      <div class="col-sm-5 col-xs-12">
        <div class="form-group clearfix">
          <label for="name" class="control-label necessary col-xs-2">姓名</label>
          <div class="col-xs-10">
            <input class="form-control {{ (name.invalid && name.dirty) && 'error' }}" #name="ngModel" id="name" name="name" placeholder="学生姓名" [(ngModel)]="curStudent.name" [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="gender" class="control-label necessary col-xs-2">性别</label>
          <div class="col-xs-10">
            <select2 id="gender"
                     [value]="curStudent.sex"
                     [cssImport]="false"
                     [width]="'100%'"
                     (valueChanged)="switchGender($event)"
                     [options]="{minimumResultsForSearch: -1, placeholder: '请选择性别'}"
                     [data]="[{id: 'MALE', text: '男'}, {id: 'FEMALE', text: '女'}]"></select2>
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="phone" class="control-label necessary col-xs-2">电话</label>
          <div class="col-xs-10">
            <input #phone="ngModel" type="tel" class="form-control {{ (phone.dirty && phone.invalid) && 'error' }}" id="phone" name="phone" placeholder="请输入电话号码" [(ngModel)]="curStudent.phone" pattern="^\d{11}$" [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="idCard" class="control-label necessary col-xs-2">身份证</label>
          <div class="col-xs-10">
            <input #idCard="ngModel"
                   class="form-control {{ idCard.dirty && idCard.invalid && 'error' }}"
                   id="idCard"
                   name="idCard"
                   placeholder="请输入18位身份证"
                   [(ngModel)]="curStudent.idCard"
                   pattern="^(\d{17})(\d|x|X){1}$"
                   [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="grade" class="control-label necessary col-xs-2">年级</label>
          <div class="col-xs-10">
            <input #grade="ngModel" class="form-control {{ grade.invalid && grade.dirty && 'error' }}" id="grade" name="grade" placeholder="请输入年级" [(ngModel)]="curStudent.grade" [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="subject" class="control-label col-xs-2">学科</label>
          <div class="col-xs-10">
            <input class="form-control" id="subject" name="subject" placeholder="请输入学科" [(ngModel)]="curStudent.subject">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="orignSchool" class="control-label col-xs-2">学校</label>
          <div class="col-xs-10">
            <input class="form-control" id="orignSchool" name="orignSchool" placeholder="请输入就读学校" [(ngModel)]="curStudent.orignSchool">
          </div>
        </div>
      </div>

      <div class="col-sm-7 col-xs-12">
        <div class="form-group clearfix">
          <label for="address" class="control-label col-xs-3 necessary col-md-2">家庭地址</label>
          <div class="col-xs-9 col-md-10">
            <input #address="ngModel" class="form-control {{ address.invalid && address.dirty && 'error' }}" id="address" name="address" placeholder="请输入家庭地址" [(ngModel)]="curStudent.address" [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="source" class="control-label col-xs-3 necessary col-md-2">学生来源</label>
          <div class="col-xs-9 col-md-10">
            <input #source="ngModel" class="form-control {{ source.invalid && source.dirty && 'error' }}" id="source" name="source" placeholder="请输入学生来源" [(ngModel)]="curStudent.source" [required]="true">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="parentName" class="control-label col-xs-3 col-md-2 necessary">家长姓名</label>
          <div class="col-xs-9 col-md-10">
            <input #parentName="ngModel" class="form-control {{parentName.touched && parentName.invalid && 'error'}}"  id="parentName" name="parentName" placeholder="请输入家长姓名" [(ngModel)]="curStudent.parentName" required>
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="parentIdCard" class="control-label col-xs-3 col-md-2 necessary">家长身份证</label>
          <div class="col-xs-9 col-md-10">
            <input #parentIdCard="ngModel"
                   class="form-control {{ parentIdCard.touched && parentIdCard.invalid && 'error' }}"
                   id="parentIdCard"
                   name="parentIdCard"
                   placeholder="请输入家长18位身份证"
                   pattern="^(\d{17})(\d|x|X){1}$"
                   [(ngModel)]="curStudent.parentIdCard">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="parentPhone" class="control-label col-xs-3 col-md-2">家长电话</label>
          <div class="col-xs-9 col-md-10">
            <input type="tel" class="form-control" id="parentPhone" name="parentPhone" placeholder="请输入家长电话" [(ngModel)]="curStudent.parentPhone">
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="gender" class="control-label col-xs-2">家长性别</label>
          <div class="col-xs-10">
            <select2
                     [value]="curStudent.parentSex"
                     [cssImport]="false"
                     [width]="'100%'"
                     (valueChanged)="switchParentGender($event)"
                     [options]="{minimumResultsForSearch: -1, placeholder: '请输入家长性别'}"
                     [data]="[{id: 'MALE', text: '男'}, {id: 'FEMALE', text: '女'}]"></select2>
          </div>
        </div>

        <div class="form-group clearfix">
          <label for="remark" class="control-label col-xs-3 col-md-2">备注信息</label>
          <div class="col-xs-9 col-md-10">
            <textarea class="form-control" id="remark" rows="1" name="remark" placeholder="请填写备注信息" [(ngModel)]="curStudent.remark"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>

<app-confirm #confirmDelete></app-confirm>
